<div class="c-block-media cs-3">
<h4>{{{ quoteTitle }}}</h4>
<blockquote>
   	<div>{{{ quoteText }}}</div>
	{{# quoteSource }}<cite class="c-quote__cite">{{{ quoteSource }}}</cite>{{/ quoteSource }}
</blockquote>
</div>
