	<div class="c-block-media">
		<h4>PROGRESSIVE ENHANCEMENT</h4>
		<p>I think advertising is a brilliant concept that has been pooped upon by selfish marketers, resulting in corrupted motives and flawed execution. Read the article about progressive enhacment</p>
		{{> atoms-button }}
	</div>
