<ul class="sg-colors">
		<li>
		<span class="sg-swatch" style="background: #a4947e;"></span>
		<span class="sg-label">
			$color-brand-donkey-brown <br />
			#a4947e
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #e4e3de;"></span>
		<span class="sg-label">
			$color-brand-westar <br />
			#e4e3de
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #d8e6e4;"></span>
		<span class="sg-label">
			$color-brand-geyser <br />
			#d8e6e4
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #dee2ea;"></span>
		<span class="sg-label">
			$color-brand-mystic <br />
			#dee2ea
		</span>
	</li>
</ul>
