<div>Primary font: "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;</div>
<div><em>Primary font italic: "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;</em></div>
<div><strong>Primary font bold: "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;</strong></div>
<div class="font-secondary">Secondary font: "Playfair Display", Georgia, Times, "Times New Roman", serif;</div>
<div class="font-secondary"><em>Secondary font italic: "Playfair Display", Georgia, Times, "Times New Roman", serif;</em></div>
<div class="font-secondary"><strong>Secondary font bold; "Playfair Display", Georgia, Times, "Times New Roman", serif;</strong></div>
