{{> organisms-header }}
<main role="main">
  <div class="l">
		<h4>Meet Quick</h4>
		<h2>Photo stories</h2>
		<h3>The last time somebody pointed out that cowboys ride horses, not tricycles, I shot him.</h3>
		<image></image>
		<h3>Photo showcase</h3>
		<p>Creativity is to discover a question that has never been asked. If one brings up an idiosyncratic question, the answer he gives will necessarily be unique as well. Simplicity, wit, and good typography.<p>
		<image></image>
		<h3>Case study</h3>
		<p>The future belongs to a different kind of person with a different kind of mind: artists, inventors, storytellers-creative and holistic ‘right-brain’ thinkers whose abilities mark the fault line between who gets ahead and who doesn’t.<p>

		<image></image>
		{{> molecules-blockquote }}
		{{> organisms-tile-grid }}
  </div>
</main>
