{{> organisms-header }}


<main role="main">
  <div class="l">
    {{> molecules-block-hero }}
    {{> molecules-block-about }}
    {{> molecules-block-media }}
    {{> molecules-block-tile }}
    {{> molecules-block-cta }}
    {{> molecules-block-blockquote }}
    {{> molecules-blockquote }}
    {{> organisms-casestudy }}
  </div>
</main>
{{> organisms-footer }}
