<header class="hero">
	<!-- {{> atoms-hero:c-block-hero__img }} -->
	<div >
		<h1>{{ company.name }}</h1>
		<h5>{{ company.description }}</h5>
	</div>
	<img src="../../images/notebook.png" id="img1"/>

	<img src="../../images/cup.png" id=img3 />
	<img src="../../images/bando.png" id=img4 />
	<img src="../../images/plant.png" id=img2 />
</header><!-- end c-block-hero-->
