/*------------------------------------*\
    #BODY
\*------------------------------------*/

/**
 * Body base styles
 */
body {
	background: $color-white;
	color: $color-text;
	font: 150%/1.5 $font;
	-webkit-text-size-adjust: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	@media all and (max-width: $bp-med) {
    font: 100%/1.5 $font;
  }
}
