/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

/**
 * Heading 1
 */
h1  {
	font-family: $font-secondary;
	font-weight: 900;
	font-style: italic;
	font-size: 8.125rem;
	line-height: 1.2;

	@media all and (max-width: $bp-small-3) {
			font-size: 5rem;
			line-height: 1;
	}

	@media all and (max-width: $bp-small) {
			font-size: 3rem;
			line-height: 1;
	}
}

/**
 * Heading 2
 */
h2 {
	font-weight: 200;
	font-size: 3.75rem;
	line-height: 1.4375;
	color: $color-brand-donkey-brown;

	@media all and (max-width: $bp-med) {
			font-size: 2rem;
			line-height: 1.4;
			padding: 1rem;
	}

}

/**
 * Heading 3
 */
h3  {
	font-weight: 600;
	font-size: 3.75rem;
	line-height: 1.2;
	font-kerning: -3;
}

/**
 * Heading 4
 */
h4  {
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 1.2;
	font-kerning: 4;
	text-transform: capitalize;
}

/**
 * Heading 5
 */
h5 {
	font-weight: 200;
	font-size: 3.25rem;
	line-height: 1.4375;
	font-kerning: -1.44;

	@media all and (max-width: $bp-med) {
			font-size: 2rem;
			line-height: 1.4;
	}
	@media all and (max-width: $bp-small) {
			font-size: 1.4rem;
			line-height: 1.2;
	}
}

/**
 * Heading 6
 */
h6 {
	font-weight: 200;
	font-size: 3.25rem;
	line-height: 1.4375;
	font-kerning: -1.44;
}

/**
 * Subheading
 */
.subheading {
	font-family: $font-secondary;
	font-weight: normal;
}
