/*------------------------------------*\
    #LINKS
\*------------------------------------*/

/**
 * Links
 */
a {
	color: $color-cta;
	font-weight: 600;
	text-decoration: underline;
	outline: 0;
	transition: all $anim-speed-quick $anim-ease;

	&:hover, &:focus {
		text-decoration: none;
		transition: all $anim-speed-quick $anim-ease;
	}
}
