/*------------------------------------*\
    #TEXT
\*------------------------------------*/

/**
 * Paragraph base styles
 */
p {
	margin-bottom: $space;
}

/**
 * Blockquote base styles
 */
blockquote {
		font-family: $font-secondary;
    font-style:italic;
		font-size: 2rem;
		text-align: center;
    // border-left: 1px solid $color-brand-donkey-brown;
    color: $color-text;
	padding-left: $pad;
	margin: $space;

	.c-quote__cite{
		font-family: $font;
		font-size: 1rem;
		font-style: normal;
		font-weight: 300;
		margin: $space;
	}
}
mark {
	font-size: 5.2rem;
	font-family: $font-secondary;
	font-style:italic;
	font-weight: 600;
	line-height: 5rem;
	color: $color-brand-donkey-brown;
	background-color: $color-white;
}
/**
 * Horizontal rule base styles
 */
hr {
	border: 0;
    height: 2px;
    background: $color-gray-15;
    margin: $space-double 0;
}

/**
 * Abbreviation base styles
 */
abbr {
    border-bottom: 1px dotted $color-gray-50;
    cursor: help;
}
