<footer class="c-footer" role="contentinfo">


		{{> molecules-logo-footer-link }}
		{{> molecules-footer-nav }}
		<p class="copyright">&copy; 2005–{{ year.long }} {{ company.name }} Made resposable in London.</p>


</footer><!-- end c-footer -->
