<footer class="c-footer" role="contentinfo">


		{{> molecules-logo-footer-link }}
		{{> molecules-footer-nav }}
		<p class="copyright">&copy; 2005–{{ year.long }} {{ company.name }} <a href="/made.html">made by hand</a> in London.</p>


</footer><!-- end c-footer -->
