<footer class="c-footer" role="contentinfo">

	<div class="l">
		{{> molecules-logo-footer-link }}
		{{> molecules-footer-nav }}
		<p class="copyright">&copy; 2005–{{ year.long }} {{ company.name }} Made resposable in London.</p>
	</div><!-- end l -->

</footer><!-- end c-footer -->
