/*------------------------------------*\
    #BLOCKS
\*------------------------------------*/
/**
 * 1) Blocks are collections of text and/or images/media working together as a unit.
 */





/*------------------------------------*\
	#HERO BLOCK
\*------------------------------------*/
.hero {
  display: flex;
  height: 100vh;
  text-align: center;
  align-items: center;
  transition: all $anim-speed-quick $anim-ease;

  div{
    box-sizing: border-box;
    display: block;

    h1 {
      margin: $pad;
      transition: all $anim-speed-quick $anim-ease;
      }
    h5 {
      margin: $space;

      @media all and (max-width: $bp-med) {
        margin: 1rem;
      }
    }
  }
}
header {
  background-size: cover;
  padding: 2rem 0;


}

/**
 * Hero Image
 * 1) This is the primary hero image that runs full-bleed across the layout
 */
.block-hero__img {
   background: #2E1811;
   background-image: url('http://labs.jensimmons.com/examples/images/dirt.jpg');
   background-size: cover;
   color: #fff;
   text-shadow: 0px 1px 6px rgba(0,0,0,0.6);
 }
/**
 * Hero Headline
 * 1) This sits overtop of the hero image when space permits
 */




/*------------------------------------*\
	#MEDIA BLOCK
\*------------------------------------*/

/**
 * 1) Media block contains an image (or some other media) on the left
 * and text on the right.
 * 2) For more info, read http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
 */
.c-block-media {
  background-size: cover;
  // display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1;
  margin: $space;
  padding: $space;
  @media all and (max-width: $bp-med) {
    margin: 0;
  }
  text-align: center;

  transition: all $anim-speed-quick $anim-ease;



  h2 {
    text-transform: capitalize;
    padding: $pad 0 0 0;

    @media all and (max-width: $bp-large) {
      padding: 1rem;
    }
  }
  h5{
    // padding: 0 $space-treble $space-treble $space-treble;

    @media all and (max-width: $bp-med) {
      padding: 0;
    }
  }

	&--small {
		font-size: $font-size-small-2;
	}

  p {
    text-align: center;
    font-weight: 300;
    padding: $space $space-double $space $space-double;

    @media all and (max-width: $bp-large-2) {
      padding: $space-half;
    }

  }
}

.about {
  padding: $space-double 0 0 0;
  h2 {
    color: $color-text;
    font-weight: 100;
  }
  p {
    text-align: left;
  }

}

/*------------------------------------*\
	# Case study
\*------------------------------------*/
.casestudy {
  padding-left: $pad-and-half;
  text-align: left;
  h4 {
    padding-bottom: $space-and-half;
  }
  p {
    text-align: left;
    padding: 0;
  }
}
.casestudy_img > img {
  margin-right: -$space;
}
.cs-1 {
  overflow: auto;
  padding: $space-quad $space $space-quad $space;
	@media all and (max-width: $bp-med) {
    padding: $space-treble $space $space-treble $space;
  }
  margin-left: -$space;
  margin-right: -$space;

  background-color: $color-brand-mystic;
  }
.cs-2 {
  overflow: auto;
  padding: $space-quad $space $space-quad $space;
  @media all and (max-width: $bp-med) {
    padding: $space-treble $space $space-treble $space;
  }
  margin-left: -$space;
  margin-right: -$space;
  background-color: $color-brand-westar;
  }
.cs-3 {
  overflow: auto;
  padding: $space-quad $space $space-quad $space;
	@media all and (max-width: $bp-med) {
    padding: $space-treble $space $space-treble $space;
  }
  margin-left: -$space;
  margin-right: -$space;
  background-color: $color-brand-geyser;
  }
.cs-4 {
  h3 { padding-left: 1.5rem; }
  p { padding-left: 1.5rem; }
  overflow: auto;
  padding: $space-quad $space $space-double $space;
	@media all and (max-width: $bp-med) {
    padding: $space-treble $space $space-treble $space;
  }
  margin-left: -$space;
  margin-right: -$space;
  background-color: $color-gray;
  }
  .cs-large {
    h3 { padding-left: 1.5rem; }
    p { padding-left: 1.5rem; }
    overflow: auto;
    padding: $space-quad $space $space-double $space;
  	@media all and (max-width: $bp-med) {
      padding: $space-treble $space $space-treble $space;
    }
    margin-left: -$space;
    margin-right: -$space;

    }
  /**
   * 2) This is the casestudy and article thumbnails.
   */
   .thumbnail {
     box-shadow: 0px 4px 7px 0px rgba(48,48,48,0.10);
     p {
       padding-left: $space-and-half;
       padding-right: $space-and-half;
     }
     p:first-of-type {
       font-size: $font-size-med-2;
       padding-top: $space-and-half;
       margin-bottom: $pad-quarter;
       color: $color-text;
     }
     p:last-of-type {
       color: $color-text;
       padding-bottom: $space-and-half;
     }
   }

/*------------------------------------*\
	#TOUT BLOCK
\*------------------------------------*/

/**
 * 1) The tout block contains an image and headline overlayed over the image.
 */
.c-block-tout {
    display: inline-block;
	margin-bottom: $space-half;
	position: relative;
    overflow: hidden;
    border-radius: $border-radius;
}

/**
 *  Tout image
 */

 .c-block-tout__img {
	 display: block;
 }

/**
 *  Tout headline
 */
.c-block-tout__headline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $color-dim-50;
    color: $color-white;
    padding: $pad-half;
    font-size: 1.4rem;
    transition: all $anim-speed-quick $anim-ease;

    .c-block-tout:hover &, .c-block-tout:focus & {
        padding-bottom: 2rem;
    }
}

/*------------------------------------*\
	#Article BLOCK
\*------------------------------------*/

/**
 * 1)
 */
 .article {
  img {
//    position: relative;
    z-index: 0;
    display: block;
    left: 3rem;
    width: 800px;
    height: 100%;
  }
  h3 {

    text-align: left;
  }
  p{

    text-align: left;
  }
 }
 .art-text {
  border: 1px solid #E4E3DE;
  box-shadow: 0px 4px 7px 0px rgba(48,48,48,0.10);
  position: relative;
  z-index: 3;
  background: white;
  top: 2rem;
  left:-3rem;
  padding: 3rem;
  height: 100%;

  @media all and (max-width: $bp-med-2) {
    left: 0;
    top: -5rem;
    margin: 1rem;
  }
 }
/**
 * 2)
 */

/**
 * 3)
 */
/*------------------------------------*\
	#TILE BLOCK
\*------------------------------------*/

/**
 * 1) The tile block contains a span and headline overlayed on a background
 */
.c-block-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: $color-white;
    box-shadow: 0px 4px 7px 0px rgba(48,48,48,0.10);
    color: $color-white;
    border-radius: $border-radius;
    padding: 1em 1em;
    text-align: center;
    overflow: hidden;
    transition: all $anim-speed-quick $anim-ease;

    &:hover, &:focus {
        background: $color-dim-70;
        color: $color-white;
    }

    @media all and (min-width: 55rem) {
	    padding: 4em 1em;
    }
}

/**
 * Featured tile block
 */
.c-block-tile--featured {
	min-height: 200px;
}

/**
 * Tile block value
 */
.c-block-tile__value {
	font-size: 1.5rem;
    line-height: 1.2;

	/**
	 * Tile value when inside featured tile parent selector
	 */
	.c-block-tile--featured & {
	    font-size: 2.5rem;

	    @media all and (min-width: $bp-med) {
	    	font-size: 5rem;
		}
    }

    @media all and (min-width: 55rem) {
		font-size: 3rem;
    }
}

.c-block-tile__label {
    color: $color-gray-15;
    font-weight: normal;
    font-size: $font-size-med;
}
