/*------------------------------------*\
    #FOOTER NAVIGATION
\*------------------------------------*/

/**
 * Footer Nav
 */
.c-footer-nav {
		margin-left: auto;
		display: flex;
		align-items: center;
		padding-right: 1rem;
}


/**
 * Footer Nav List
 */
.c-footer-nav__list {
	display: flex;
	flex-direction: column;


	@media all and (min-width: $bp-small) {
		flex-direction: row;
		text-align: left;
	}
}

/**
 * Footer Nav List Item
 */
.c-footer-nav__item {
	// width: 50%;
	margin-top: 1rem;

	@media all and (min-width: $bp-small) {
		width: inherit;
	}
}

/**
 * Footer Nav Links
 */
.c-footer-nav__link {

	font-size: 1rem;
	padding: 1rem 2rem 1rem 0;
	color: $color-text;
	text-align: center;

	&:hover, &:focus {
		color: $color-cta;
	}
}
