/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

/**
 * Footer
 */
.c-footer {
	clear: both;
	overflow: hidden;
	background: $color-white;
	color: $color-text;
	line-height: 1.2;
	padding: 1em $space-double;
	margin-left: auto;
	display: flex;
	align-items: center;

	@media all and (max-width: $bp-large-2) {

		margin-left: 1rem;
		display: block;

	}
	@media all and (max-width: $bp-med) {
		padding: 1rem 0;
	}
}

/**
 * copyright
 */
.copyright {

	text-align: right;
	margin: 0 $pad 0 auto;
	padding-top: 1rem;
	font-size: $font-size-small;

		@media all and (max-width: $bp-large-2) {
			text-align: left;
			margin-top: 1rem;
 		}
}


/**
 * Footer nav
 */
.c-footer__info {
	// max-width: 40em;

	a {
		color: $color-gray-15;
		text-decoration: underline;

		&:hover, &:focus {
			text-decoration: none;
		}
	}
}
