<div class="g-2up {{ project.order }}">
	<div class="gi g-half">
		{{> molecules-block-casestudy }}
	</div><!--end .l-main-->
	<div class="gi g-half">
		{{> molecules-image-casestudy:right }}
	</div>
</div>
