{{> organisms-header }}
<main role="main">
  <div class="l">
    {{> molecules-block-hero }}
    {{> molecules-block-about }}
    {{> molecules-block-media }}
    {{> molecules-block-tile }}
    {{> molecules-block-cta }}
    {{> molecules-block-blockquote }}
    {{> molecules-blockquote }}
    {{# study1 }}
    {{> organisms-casestudy }}
    {{/ study1 }}
    {{# study2 }}
    {{> organisms-casestudy }}
    {{/ study2 }}
    {{# study3 }}
    {{> organisms-casestudy }}
    {{/ study3 }}
  </div>
</main>
{{> organisms-footer }}
