
<div class="cs-large">
	<h3>Photography</h3>
	<p>There is only you and your camera. The limitations in your photography are in yourself, for what we see is what we are.</p>
	<div class="l g-4up">
		<div class="gi">
			{{# photo1 }}
				{{> molecules-thumbnail-link }}
			{{/ photo1 }}
		</div>
		<div class="gi">
			{{# photo2 }}
				{{> molecules-thumbnail-link }}
			{{/ photo2 }}
		</div>
		<div class="gi">
			{{# photo3 }}
				{{> molecules-thumbnail-link }}
			{{/ photo3 }}
		</div>
		<div class="gi">
			{{# photo4 }}
				{{> molecules-thumbnail-link }}
			{{/ photo4 }}
		</div>
	</div>
	<div class="l g-4up">
		<div class="gi">
			{{# photo5 }}
				{{> molecules-thumbnail-link }}
			{{/ photo5 }}
		</div>
		<div class="gi">
			{{# photo6 }}
				{{> molecules-thumbnail-link }}
			{{/ photo6 }}
		</div>
		<div class="gi">
			{{# photo7 }}
				{{> molecules-thumbnail-link }}
			{{/ photo7 }}
		</div>
		<div class="gi">
			{{# photo8 }}
				{{> molecules-thumbnail-link }}
			{{/ photo8 }}
		</div>
	</div>
</div>
