
<div class="cs-large">
	<h3>Photography</h3>
	<p>There is only you and your camera. The limitations in your photography are in yourself, for what we see is what we are.</p>
	<div class="l g-4up">
		<div class="gi">
			{{> molecules-thumbnail-link }}
		</div>
		<div class="gi">
			{{> molecules-thumbnail-link }}
		</div>
		<div class="gi">
			{{> molecules-thumbnail-link }}
		</div>
		<div class="gi">
			{{> molecules-thumbnail-link }}
		</div>
	</div>
	<div class="l g-4up">
		<div class="gi">
			{{> molecules-thumbnail-link }}
		</div>
		<div class="gi">
			{{> molecules-thumbnail-link }}
		</div>
		<div class="gi">
			{{> molecules-thumbnail-link }}
		</div>
		<div class="gi">
			{{> molecules-thumbnail-link }}
		</div>
	</div>
</div>
