	<div class="c-block-media about">
		<h2>{{ about.name }}</h2>
		<p>{{ about.intro-1 }}</p>
		<p>{{ about.intro-2 }}</p>
		<p>{{ about.intro-3 }}	{{> atoms-text-button }} </p>




	</div><!-- end c-block-media__body -->
