	<div class="c-block-media about">
		<h2>{{ about.name }}</h2>
		<p>{{ about.intro-1 }}</p>
		<p>{{ about.intro-2 }}</p>
		<p>{{ about.intro-3 }}<cite class="c-quote__cite">{{{ about.cta }}}</cite></p>

	</div><!-- end c-block-media__body -->
