<div class="l g-4up">
	<div class="gi">
		{{> molecules-thumbnail-link }}
	</div>
	<div class="gi">
		{{> molecules-thumbnail-link }}
	</div>
	<div class="gi">
		{{> molecules-thumbnail-link }}
	</div>
	<div class="gi">
		{{> molecules-thumbnail-link }}
	</div>
</div>
