
<div class="cs-4">
	<h3>Other work</h3>
	<p>There is only you and your camera. The limitations in your photography are in yourself, for what we see is what we are.</p>
	<div class="l g-4up">
		<div class="gi">
			{{# study4 }}
				{{> molecules-thumbnail-link }}
			{{/ study4 }}
		</div>
		<div class="gi">
			{{# study5 }}
				{{> molecules-thumbnail-link }}
			{{/ study5 }}
		</div>
		<div class="gi">
			{{# study6 }}
				{{> molecules-thumbnail-link }}
			{{/ study6 }}
		</div>
		<div class="gi">
			{{# study7 }}
				{{> molecules-thumbnail-link }}
			{{/ study7 }}
		</div>
	</div>
</div>
