<main role="main">
  <div class="l">
    {{> molecules-block-hero }}
    {{> organisms-video }}
    {{> molecules-block-tile }}
    {{# study1 }}
    {{> organisms-casestudy }}
    {{/ study1 }}
    {{# study2 }}
    {{> organisms-casestudy }}
    {{/ study2 }}
    {{# study3 }}
    {{> organisms-casestudy }}
    {{/ study3 }}
    {{> organisms-tile-grid }}
		{{> molecules-block-tile }}
    {{> organisms-article }}
		{{> molecules-block-cta }}
    {{> organisms-tile-grid-large }}
    {{> molecules-block-blockquote }}
  </div>
</main>
{{> organisms-footer }}
