	<div class="c-block-media casestudy">
		<h4>{{ project.label }}</h4>
		<h3>{{ project.name }}</h3>
		<p>{{ project.intro }}</p>
		<p><a href="{{ project.url }}">{{ project.link }}</a></p>
	</div><!-- end c-block-media__body -->
