	<div class="c-block-media contact">
		<h2>{{ contact.title }}</h2>
		<p>{{ contact.intro }}</p>
		<h4>{{ contact.section }}</h4>
		<li><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></li>
		<li><a href="https://twitter.com/{{ contact.twitter }}">{{ contact.twitter }}</a></li>


		<br />
		<h4>{{ services.section }}</h4>
		<p>{{ services.intro }}</p>
		<ul>
			<li>{{ services.point1 }}</li>
			<li>{{ services.point2 }}</li>
			<li>{{ services.point3 }}</li>
			<li>{{ services.point4 }}</li>
			<li>{{ services.point5 }}</li>
		</ul>
	</div><!-- end c-block-media__body -->
