<div class="article l--two-col">
	<div class="">
		{{# article }}
			{{> atoms-image }}
		{{/ article }}
	</div><!--end .l-main-->
	<div class="art-text">
		{{> molecules-block-article }}
	</div>
</div>
